In [2]:
#Introduction
#importing packages & loading data
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

boston_df=pd.read_csv("./bostonairbnb/listings.csv")
seattle_df=pd.read_csv("./seattleairbnb/listings.csv")

In [3]:
#getting both csv listings and concat
boston_df["dataframe"]="Boston"
seattle_df["dataframe"]="Seattle"
bs_df=pd.concat([boston_df, seattle_df])
bs_df.shape

(7403, 96)

In [4]:
#making sure there are no duplicates
bs_df=bs_df.drop_duplicates(subset=['id'])
#there aren't
bs_df.dataframe.value_counts()

Seattle    3818
Boston     3585
Name: dataframe, dtype: int64

In [5]:
#idk if I need these yet. here's two different dfs based on cat or num variables. this may help if with analyses 
bs_df_num=bs_df.select_dtypes(exclude=['object'])
bs_df_obj=bs_df.select_dtypes(include=['object'])

In [6]:
#confirming only numerical dtypes
bs_df_num.info()
#confirming only categorical dtypes
bs_df_obj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7403 entries, 0 to 3817
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7403 non-null   int64
 1   scrape_id                       7403 non-null   int64
 2   host_id                         7403 non-null   int64
 3   host_listings_count             7401 non-null   float64
 4   host_total_listings_count       7401 non-null   float64
 5   latitude                        7403 non-null   float64
 6   longitude                       7403 non-null   float64
 7   accommodates                    7403 non-null   int64
 8   bathrooms                       7373 non-null   float64
 9   bedrooms                        7387 non-null   float64
 10  beds                            7393 non-null   float64
 11  square_feet                     153 non-null    float64
 12  guests_included                 7403 non-null   int64
 13  minimum_nights                  7403 non-null   int64
 14  maximum_nights                  7403 non-null   int64
 15  availability_30                 7403 non-null   int64
 16  availability_60                 7403 non-null   int64
 17  availability_90                 7403 non-null   int64
 18  availability_365                7403 non-null   int64
 19  number_of_reviews               7403 non-null   int64
 20  review_scores_rating            5943 non-null   float64
 21  review_scores_accuracy          5922 non-null   float64
 22  review_scores_cleanliness       5932 non-null   float64
 23  review_scores_checkin           5925 non-null   float64
 24  review_scores_communication     5934 non-null   float64
 25  review_scores_location          5926 non-null   float64
 26  review_scores_value             5926 non-null   float64
 27  license                         0 non-null      float64
 28  calculated_host_listings_count  7403 non-null   int64
 29  reviews_per_month               6020 non-null   float64
dtypes: float64(17), int64(13)
memory usage: 1.8 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7403 entries, 0 to 3817
Data columns (total 66 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   listing_url                       7403 non-null   object
 1   last_scraped                      7403 non-null   object
 2   name                              7403 non-null   object
 3   summary                           7083 non-null   object
 4   space                             5777 non-null   object
 5   description                       7403 non-null   object
 6   experiences_offered               7403 non-null   object
 7   neighborhood_overview             4956 non-null   object
 8   notes                             3822 non-null   object
 9   transit                           5179 non-null   object
 10  access                            2096 non-null   object
 11  interaction                       2031 non-null   object
 12  house_rules                       2393 non-null   object
 13  thumbnail_url                     6484 non-null   object
 14  medium_url                        6484 non-null   object
 15  picture_url                       7403 non-null   object
 16  xl_picture_url                    6484 non-null   object
 17  host_url                          7403 non-null   object
 18  host_name                         7401 non-null   object
 19  host_since                        7401 non-null   object
 20  host_location                     7384 non-null   object
 21  host_about                        5235 non-null   object
 22  host_response_time                6409 non-null   object
 23  host_response_rate                6409 non-null   object
 24  host_acceptance_rate              6159 non-null   object
 25  host_is_superhost                 7401 non-null   object
 26  host_thumbnail_url                7401 non-null   object
 27  host_picture_url                  7401 non-null   object
 28  host_neighbourhood                6764 non-null   object
 29  host_verifications                7403 non-null   object
 30  host_has_profile_pic              7401 non-null   object
 31  host_identity_verified            7401 non-null   object
 32  street                            7403 non-null   object
 33  neighbourhood                     6444 non-null   object
 34  neighbourhood_cleansed            7403 non-null   object
 35  neighbourhood_group_cleansed      3818 non-null   object
 36  city                              7401 non-null   object
 37  state                             7403 non-null   object
 38  zipcode                           7358 non-null   object
 39  market                            7389 non-null   object
 40  smart_location                    7403 non-null   object
 41  country_code                      7403 non-null   object
 42  country                           7403 non-null   object
 43  is_location_exact                 7403 non-null   object
 44  property_type                     7399 non-null   object
 45  room_type                         7403 non-null   object
 46  bed_type                          7403 non-null   object
 47  amenities                         7403 non-null   object
 48  price                             7403 non-null   object
 49  weekly_price                      2901 non-null   object
 50  monthly_price                     2405 non-null   object
 51  security_deposit                  3208 non-null   object
 52  cleaning_fee                      5266 non-null   object
 53  extra_people                      7403 non-null   object
 54  calendar_updated                  7403 non-null   object
 55  has_availability                  3818 non-null   object
 56  calendar_last_scraped             7403 non-null   object
 57  first_review                      6020 non-null   object
 58  last_review                       6020 non-null   object
 59  requires_license                  7403 non-null   object
 60  jurisdiction_names                3818 non-null   object
 61  instant_bookable                  7403 non-null   object
 62  cancellation_policy               7403 non-null   object
 63  require_guest_profile_picture     7403 non-null   object
 64  require_guest_phone_verification  7403 non-null   object
 65  dataframe                         7403 non-null   object
dtypes: object(66)
memory usage: 3.8+ MB

In [17]:
def finding_nulls(df):
    global dropped_df
    col_list=[]
    for col in df:
        if df[col].isnull().sum() == 0:
            continue
        elif df[col].isnull().sum()/df.shape[0] > 0.5:
            col_list.append(col)
        else:
            print("Null count "+ str(df[col].isnull().sum())+ "    Look at this: " + col )
    dropped_df=df.drop(columns=col_list)
finding_nulls(bs_df_num) 
bs_df_num= dropped_df

Null count 2    Look at this: host_listings_count
Null count 2    Look at this: host_total_listings_count
Null count 30    Look at this: bathrooms
Null count 16    Look at this: bedrooms
Null count 10    Look at this: beds
Null count 1460    Look at this: review_scores_rating
Null count 1481    Look at this: review_scores_accuracy
Null count 1471    Look at this: review_scores_cleanliness
Null count 1478    Look at this: review_scores_checkin
Null count 1469    Look at this: review_scores_communication
Null count 1477    Look at this: review_scores_location
Null count 1477    Look at this: review_scores_value
Null count 1383    Look at this: reviews_per_month

In [25]:
#put in mode, mean, median
#do that index thing again for review_per_month.notnull & review_sores_rating.isnull()
bs_df_num.host_listings_count.mean()

32.2141023909226

In [24]:
#I looked at the median mode, means of host_listings_count, host_total_listings_count, bathrooms, beds, bedrooms. 1 seems to be the
#most reasonable option. Since most of the reviews options are dependent on whether or not the score exists, all related NaN are 0
for info in ["host_listings_count", "host_total_listings_count", "bathrooms", "beds", "bedrooms"]:
    print("This is the mean:{}. This is the mode: {}. This is the median: {}".format(bs_df_num[info].mean(), bs_df_num[info].mode(), bs_df_num[info].median()))

#this fills in the nulls based on the above information. 
bs_df_num=bs_df_num.fillna(value={"host_listings_count":1, "host_total_listings_count":1, "bathrooms":1, "beds":1, "bedrooms":1, 
                        "review_scores_rating":0, "review_scores_accuracy":0, "review_scores_cleanliness":0, "review_scores_checkin":0,
                       "review_scores_communication":0, "review_scores_location":0, "review_scores_value":0, "reviews_per_month":0 })
#making sure there are no more nulls
bs_df_num.isna().sum()

This is the mean:32.2141023909226. This is the mode: 0    1.0
dtype: float64. This is the median: 1.0
This is the mean:32.2141023909226. This is the mode: 0    1.0
dtype: float64. This is the median: 1.0
This is the mean:1.240172902877212. This is the mode: 0    1.0
dtype: float64. This is the median: 1.0
This is the mean:1.6733756585168176. This is the mode: 0    1.0
dtype: float64. This is the median: 1.0
This is the mean:1.282047818451979. This is the mode: 0    1.0
dtype: float64. This is the median: 1.0

id                                0
scrape_id                         0
host_id                           0
host_listings_count               0
host_total_listings_count         0
latitude                          0
longitude                         0
accommodates                      0
bathrooms                         0
bedrooms                          0
beds                              0
guests_included                   0
minimum_nights                    0
maximum_nights                    0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
calculated_host_listings_count    0
reviews_per_month                 0
dtype: int64

In [33]:
finding_nulls(bs_df_obj)
bs_df_obj=dropped_df
bs_df_obj["id"]=bs_df_num["id"]

Null count 320    Look at this: summary
Null count 1626    Look at this: space
Null count 2447    Look at this: neighborhood_overview
Null count 3581    Look at this: notes
Null count 2224    Look at this: transit
Null count 919    Look at this: thumbnail_url
Null count 919    Look at this: medium_url
Null count 919    Look at this: xl_picture_url
Null count 2    Look at this: host_name
Null count 2    Look at this: host_since
Null count 19    Look at this: host_location
Null count 2168    Look at this: host_about
Null count 994    Look at this: host_response_time
Null count 994    Look at this: host_response_rate
Null count 1244    Look at this: host_acceptance_rate
Null count 2    Look at this: host_is_superhost
Null count 2    Look at this: host_thumbnail_url
Null count 2    Look at this: host_picture_url
Null count 639    Look at this: host_neighbourhood
Null count 2    Look at this: host_has_profile_pic
Null count 2    Look at this: host_identity_verified
Null count 959    Look at this: neighbourhood
Null count 3585    Look at this: neighbourhood_group_cleansed
Null count 2    Look at this: city
Null count 45    Look at this: zipcode
Null count 14    Look at this: market
Null count 4    Look at this: property_type
Null count 2137    Look at this: cleaning_fee
Null count 3585    Look at this: has_availability
Null count 1383    Look at this: first_review
Null count 1383    Look at this: last_review
Null count 3585    Look at this: jurisdiction_names

In [72]:
#bs_df_obj=bs_df_num.fillna(value={

#fill in obj nulls. 

#interesting that 3585 same value for has_availability, jurisdiction_names, and neighborhooud_group_cleansed
#this series shows that has_availability listing ids and jurisdictions_names ids have their nulls in common. Conclusion all nulls 
#are in common between these two.
t1=pd.Series(bs_df_obj.id[bs_df_obj.has_availability.isnull()]== bs_df_obj.id[bs_df_obj.jurisdiction_names.isnull()]).value_counts()
#Comparing jurisdiction_names and neighborhood_group_cleansed
t2= pd.Series(bs_df_obj.id[bs_df_obj.neighbourhood_group_cleansed.isnull()]== bs_df_obj.id[bs_df_obj.jurisdiction_names.isnull()]).value_counts()
#just in case there might be any reason has_availability doesn't match neighborhood_group_cleansed
t3= pd.Series(bs_df_obj.id[bs_df_obj.neighbourhood_group_cleansed.isnull()]== bs_df_obj.id[bs_df_obj.has_availability.isnull()]).value_counts()
t3
#i wonder why these nulls correlate? 
dataframe_null=pd.Series(bs_df_obj.dataframe[bs_df_obj.has_availability.isnull()]).value_counts()
dataframe_null
#it looks like this information all came from the same original set of data. the Boston df. I wonder if there was a change in reporting
#procedure
#isnull=pd.Series(bs_df_obj.last_review[bs_df_obj.has_availability.isnull()])
isnull.value_counts()
notnull=pd.Series(bs_df_obj.last_review[bs_df_obj.has_availability.notnull()])
#notnull.value_counts()
#there is time overlap between last reviews, so it's unlikely to be the timing of the listing
bs_df_obj.dataframe.value_counts()
#all boston dataframe values are missing this information. likely the missing info is due to mismatching regulation

bs_df_obj.cit
#get correlatino going for the null values

#add id to obj information

Seattle    3818
Boston     3585
Name: dataframe, dtype: int64